* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  background: #1b1b1b;
}
