.items {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (1fr)[7];
      grid-template-rows: repeat(7, 1fr);
  gap: 1.5rem 1.5rem;
      grid-template-areas: ". ." ". ." ". ." ". ." ". ." ". ." ". .";
  padding: 2rem;
  border-top: none;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #000;
  position: relative;
  padding-right: 4rem;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

.text {
  padding: 1rem;
}
