.booking {
	padding-bottom: 5rem;
}

.bookArea {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	overflow: auto;
	border: 1px solid gray;
	border-radius: 10px;
	-webkit-box-shadow: 1px 0px 10px 3px #00a2ff;
	box-shadow: 1px 0px 10px 3px #00a2ff;
}

.image {
	max-width: 40%;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
