.title {
	font-size: 1.8rem;
	color: #ffae00;
	cursor: pointer;
}

.description {
	font-size: 1.4rem;
	cursor: pointer;
}

.text {
	padding: 1rem;
}

.item {
	display: flex;
	align-items: center;
	border: 2px solid #000;
	position: relative;
	padding-right: 4rem;
	color: #fff;
	background-color: rgba(255, 255, 255, 0.1);

	&:hover {
		background-color: rgba(255, 255, 255, 0.233);
	}
}

.image {
	width: 10rem;
	height: 6.5rem;
	cursor: pointer;
}