.background {
	height: 100vh;
	background: url("../../home-background.jpg") no-repeat center center fixed;
	background-size: cover;
	position: relative;
}

.arrow {
	font-size: 15rem;
	user-select: none;
	position: absolute;
	bottom: 20px;
	text-align: center;
	opacity: 0.5;
}