.submission {
	display: flex;
	flex: 1;
	justify-content: space-between;
	align-items: center;
}

.label {
	font-size: 1.8rem;
	font-weight: 600;
}

.input {
	color: #fff;
	border: 1px solid grey;
	background-image:none;
	background-color:transparent;
	box-shadow: none;
	padding: 0.9rem;
	flex-grow: 0.5;
}