.input {
	text-align: center;
	border: 1px solid grey;

	&:not(:last-child) {
		margin: 0 2rem 0 0;
	}

	&:hover {
		cursor: pointer;
	}
}

.cell {
	padding: 1rem;

	&:not(:last-child) {
		border-bottom: 1px solid grey;
	}
}
