.form {
	font-size: 1.6rem;
	padding: 3rem 5rem 2rem 2rem;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: space-around;
	align-items: stretch;
}

.buttons {
	display: flex;
	justify-content: space-between;
	margin-bottom: 3rem;
}

.buttonsPeople {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 18px 20px;
	grid-template-areas: ". . . .";
	justify-content: space-between;
	align-items: start;
	margin-bottom: 3rem;
}

.inputName {
	display: flex;
	flex: 1;
	justify-content: space-between;
	align-items: center;
}

.label {
	font-size: 1.8rem;
	font-weight: 600;
}

.input {
	color: #fff;
	border: 1px solid grey;
	background-image:none;
	background-color:transparent;
	box-shadow: none;
	padding: 0.9rem;
	flex-grow: 0.5;
}