.contactForm {
    display: flex;
}

.contactInfo {
    display: flex;
    flex-direction: column;
}

.contactInfoSection {
    text-align: right;
    margin-bottom: 4rem;
    padding-right: 2rem;
    border-right: 3px solid #ff6600;
    margin-right: 5rem;
}

.contactInfoHeading {
    font-size: 2rem;
    opacity: 0.6;
    font-weight: 700;
}

.contactInfoText {
    font-size: 1.6rem;
    letter-spacing: 1.2px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form input,
.form textarea {
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.687);
    background-color: transparent;
    padding: 1rem;
    color: #ffffff;
    resize: none;
}

.formUserInfo {
    display: flex;
    margin-bottom: 1rem;
}

.formUser:not(:last-child) {
    margin-right: 2rem;
}

.btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 3rem;
}
