* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Nunito", sans-serif;
}

html {
	color: #fff;
	font-size: 10px;
	scroll-behavior: smooth;
	background: rgb(27, 27, 27);
}

:root {
	scroll-padding-top: 40px;
}
